ADMIN_PASSWORD="admin"
DATABASE_PATH="db.sqlite"
CHROMIUM_PATH=/usr/bin/chromium

DUITKU_MERCHANT_CODE=""
DUITKU_API_KEY=""
DUITKU_BASE_URL="https://api-sandbox.duitku.com"

# bunx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT=""

SITE_URL="http://localhost:4321"
