ADMIN_PASSWORD="admin"
DATABASE_PATH="db.sqlite"
CHROMIUM_PATH=/usr/bin/chromium

DUITKU_MERCHANT_CODE=""
DUITKU_API_KEY=""
DUITKU_BASE_URL="https://api-sandbox.duitku.com"
SITE_URL="http://localhost:4321"
