# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/


# environment variables
/.env
/.env.production

# misc
.DS_Store
.idea/
*.tsbuildinfo
db.sqlite
test.db.sqlite
site/uploads/
/packages/whatsapp-bot/qr.svg
