---
import type { JSX } from "astro/jsx-runtime";

import Icon from "./icon.astro";

interface Props extends JSX.HTMLAttributes {
	type: "info" | "error";
	title?: string;
	description: string;
}

const { type, title, description, class: className, ...props } = Astro.props;
---

<div
	role="alert"
	class:list={[
		"alert",
		type === "info" && "alert-info",
		type == "error" && "alert-error",
		className,
	]}
	{...props}
>
	<Icon class="shrink-0" name="lucide:circle-alert" size="size-6" />

	{
		title ? (
			<div>
				<h3 class="font-bold">{title}</h3>
				<span class="text-xs">{description}</span>
			</div>
		) : (
			<p>{description}</p>
		)
	}
</div>
