---
import type { JSX } from "astro/jsx-runtime";

import Icon from "./icon.astro";

interface Props extends JSX.HTMLAttributes {
	type?: "info" | "error";
	title?: string;
	description: string;
	close?: boolean;
}

const {
	type,
	title,
	description,
	class: className,
	close = true,
	...props
} = Astro.props;
---

<div
	role="alert"
	class:list={[
		"alert",
		type === "info" && "alert-info",
		type == "error" && "alert-error",
		className,
	]}
	{...props}
>
	<Icon class="shrink-0" name="lucide:circle-alert" size="size-6" />

	{
		title ? (
			<div>
				<h3 class="alert-title font-bold">{title}</h3>
				<span class="alert-description text-xs" set:html={description} />
			</div>
		) : (
			<p class="alert-description">{description}</p>
		)
	}

	{
		close && (
			<button class="alert-close btn btn-circle btn-ghost btn-sm">
				<Icon name="lucide:x" />
			</button>
		)
	}
</div>
