---
import { db } from "@indekos/database";

import { actions } from "astro:actions";

import FormField from "~/components/form/form-field.astro";
import ModalForm from "~/components/form/modal-form.astro";
import Modal from "~/components/modal/modal.astro";
import NotFound from "~/components/ui/not-found.astro";

export const partial = true;

const tenant = await db.query.tenants.findFirst({
	columns: {
		id: true,
		fullName: true,
		phoneNumber: true,
		originRegion: true,
	},
	where: { id: Number(Astro.params.id) },
});

const displayPhone = tenant?.phoneNumber
	? tenant.phoneNumber.replace(/^62/, "")
	: "";

if (!tenant) Astro.response.status = 404;
---

<Modal id="edit_tenant" title="Edit Penghuni" icon="lucide:pencil">
	{
		tenant ? (
			<>
				<ModalForm
					action={actions.manage.tenants.edit}
					modalId="edit_tenant"
					submitLabel="Simpan"
					target="#form_result, #tenants-content-wrapper"
				>
					<input name="id" type="hidden" value={tenant.id} />

					<FormField label="Nama Lengkap">
						<input
							class="input w-full"
							name="full_name"
							type="text"
							value={tenant.fullName}
							placeholder="Nama sesuai KTP..."
							required
						/>
					</FormField>
					<FormField label="Nomor HP (WhatsApp)">
						<label class="input w-full">
							<span class="label">+62</span>
							<input
								name="phone_number"
								type="text"
								value={displayPhone}
								placeholder="81234567890..."
								required
							/>
						</label>
					</FormField>
					<FormField label="Daerah Asal">
						<input
							class="input w-full"
							name="origin_region"
							type="text"
							value={tenant.originRegion ?? ""}
							placeholder="Opsional (misal: Bandung, Surabaya...)"
						/>
					</FormField>
				</ModalForm>
			</>
		) : (
			<NotFound label="Penghuni" />
		)
	}
</Modal>
