---
import { actions } from "astro:actions";

import FormField from "~/components/form/form-field.astro";
import ModalForm from "~/components/form/modal-form.astro";
import Modal from "~/components/modal/modal.astro";

export const partial = true;
---

<Modal id="add_account" title="Tambah Akun Baru" icon="line-md:account-add">
	<ModalForm
		action={actions.manage.accounts.add}
		modalId="add_account"
		submitLabel="Simpan Akun"
		target="#form_result, #accounts-content-wrapper"
	>
		<FormField label="Username">
			<input
				class="input w-full"
				name="username"
				type="text"
				placeholder="Masukkan username..."
				required
			/>
		</FormField>

		<FormField label="Nama Tampilan">
			<input
				class="input w-full"
				name="display_name"
				type="text"
				placeholder="Masukkan nama..."
				required
			/>
		</FormField>

		<FormField label="Kata Sandi">
			<input
				class="input w-full"
				name="password"
				type="password"
				placeholder="Masukkan password..."
				required
			/>
		</FormField>

		<FormField label="Role Akses">
			<select class="select w-full" name="role" required>
				<option value="" disabled selected>Pilih hak akses</option>
				<option value="staff">Staff (Operasional & Komplain)</option>
				<option value="owner">Owner (Laporan Keuangan)</option>
			</select>
		</FormField>
	</ModalForm>
</Modal>
