---
interface Props {
	colspan: number;
	message?: string;
}

const { colspan, message = "Tidak ada data." } = Astro.props;
---

<tr>
	<td
		colspan={colspan}
		style="text-align: center; padding: 24px; font-size: 11px; opacity: 0.5;"
	>
		{message}
	</td>
</tr>
