---
import Icon from "~/components/ui/icon.astro";

export interface Props {
	filterClass: string;
	value?: string;
	placeholder: string;
}

const { filterClass, value, placeholder } = Astro.props;
---

<label class="input input-sm w-full sm:max-w-xs">
	<Icon name="lucide:search" />
	<input
		hx-get
		hx-trigger="input changed delay:300ms"
		class={filterClass}
		name="query"
		type="search"
		value={value}
		placeholder={placeholder}
	/>
</label>
