---
import { db } from "@indekos/database";

import { actions } from "astro:actions";

import FormField from "~/components/form/form-field.astro";
import ModalForm from "~/components/form/modal-form.astro";
import Modal from "~/components/modal/modal.astro";
import NotFound from "~/components/ui/not-found.astro";
import AvailableRoomsSelect from "../_available-rooms-select.astro";

export const partial = true;

const tenant = await db.query.tenants.findFirst({
	columns: { id: true, fullName: true },
	where: { id: Number(Astro.params.id) },
});

if (!tenant) Astro.response.status = 404;
---

<Modal
	id="register_tenant"
	title="Daftarkan Ulang Sewa"
	icon="lucide:file-plus"
>
	{
		tenant ? (
			<>
				<ModalForm
					action={actions.manage.tenants.register}
					modalId="register_tenant"
					submitLabel="Daftarkan"
					target="#form_result, #tenants-content-wrapper"
				>
					<input name="id" type="hidden" value={tenant.id} />

					<FormField label="Pilih Kamar">
						<AvailableRoomsSelect />
					</FormField>

					<div class="grid grid-cols-2 gap-3">
						<FormField label="Tanggal Mulai">
							<input
								class="input w-full"
								name="start_date"
								type="date"
								required
							/>
						</FormField>
						<FormField label="Tanggal Selesai">
							<input class="input w-full" name="end_date" type="date" />
						</FormField>
					</div>
				</ModalForm>
			</>
		) : (
			<NotFound label="Penghuni" />
		)
	}
</Modal>
