---
import "~/styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
		<link href="/favicon.ico" rel="icon" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
	import "iconify-icon";

	import htmx from "htmx.org";

	htmx.config.responseHandling = [
		{ code: "[23]..", swap: true },
		{ code: "40[01]", swap: true, error: true },
	];
	htmx.onLoad((node) => {
		if (!(node instanceof HTMLElement)) return;

		if (node instanceof HTMLDialogElement) {
			node.showModal();
			node.addEventListener("close", () =>
				setTimeout(() => node.remove(), 300),
			);
		} else if (node.matches("#alert-client")) {
			// #alert-client is client-controlled, skip
			node.remove();
		} else if (node.matches(".alert")) {
			processAlert(node);
		}
	});

	htmx.on("htmx:beforeSwap", (e) => {
		const event = e as Event & {
			detail: {
				serverResponse: string;
				target: HTMLElement;
				swapOverride: string;
			};
		};

		if (
			event.detail.serverResponse.startsWith("<dialog") &&
			event.detail.target instanceof HTMLButtonElement
		) {
			event.detail.target = document.body;
			event.detail.swapOverride = "beforeend";
		}
	});

	htmx.on("htmx:afterSettle", (e) => {
		const event = e as Event & { target: HTMLElement };

		const element = event.target.querySelector("[data-scroll-here]");
		if (element instanceof HTMLElement)
			element.scrollIntoView({ behavior: "smooth" });
	});

	const processAlert = (alert: HTMLElement) => {
		const closeButton = alert.querySelector<HTMLButtonElement>(".alert-close")!;
		let timeout: ReturnType<typeof setTimeout> | undefined = undefined;

		return new Promise<void>((resolve) => {
			const isToast = alert.parentElement?.matches(".toast");
			const clientOnly = alert.id === "alert-client";
			alert.classList.toggle("hidden", false);

			const remove = () => {
				alert.addEventListener(
					"transitionend",
					() => {
						if (clientOnly) {
							alert.classList.toggle("hidden", true);
							alert.classList.remove("opacity-0", "scale-25");
						} else if (isToast) {
							alert.remove();
						} else {
							alert.classList.toggle("hidden", true);
						}

						resolve();
					},
					{ once: true },
				);

				alert.removeEventListener("mouseenter", persistOnHover);
				alert.classList.add("opacity-0", "scale-25");
			};

			const autoRemove = () => {
				if (isToast) return setTimeout(remove, 5000);
			};
			const persistOnHover = () => {
				clearTimeout(timeout);
				alert.addEventListener(
					"mouseleave",
					() => {
						timeout = autoRemove();
					},
					{ once: true },
				);
			};

			timeout = autoRemove();
			alert.addEventListener("mouseenter", persistOnHover);
			closeButton.addEventListener("click", () => {
				clearTimeout(timeout);
				remove();
			});
		});
	};

	window.showClientSideToast = (type, title, description) => {
		const alert = document.querySelector<HTMLElement>(".toast > #alert-client");
		if (!alert || !alert.classList.contains("hidden")) return;

		const alertTitle = alert.querySelector<HTMLElement>(".alert-title")!;
		const alertDescription =
			alert.querySelector<HTMLElement>(".alert-description")!;

		alert.classList.toggle(`alert-${type}`, true);
		if (!description) {
			alertTitle.classList.toggle("hidden", true);
			alertDescription.classList.toggle("text-sm", false);
			alertDescription.innerText = title;
		} else {
			alertTitle.innerText = title;
			alertDescription.innerText = description;
		}

		processAlert(alert).finally(() => {
			alert.classList.toggle(`alert-${type}`, false);

			if (!description) {
				alertTitle.classList.toggle("hidden", false);
				alertDescription.classList.toggle("text-sm", true);
			}
		});
	};
</script>
