---
import { db } from "@e-kos/database";

import { actions } from "astro:actions";

import FormField from "~/components/form/form-field.astro";
import ModalForm from "~/components/form/modal-form.astro";
import Modal from "~/components/modal/modal.astro";
import Icon from "~/components/ui/icon.astro";
import NotFound from "~/components/ui/not-found.astro";

export const partial = true;

const account = await db.query.users.findFirst({
	columns: { id: true, username: true, displayName: true, role: true },
	where: { id: Number(Astro.params.id) },
});

if (!account) Astro.response.status = 404;
---

<Modal id="edit_account" title="Edit Akun" icon="line-md:edit">
	{
		account ? (
			account.role === "admin" ? (
				<div class="alert alert-error" role="alert">
					<Icon name="line-md:alert" size="size-5" />
					<span>Akun admin tidak dapat diedit.</span>
				</div>
			) : (
				<>
					<ModalForm
						action={actions.manage.accounts.edit}
						modalId="edit_account"
						submitLabel="Simpan Akun"
						target="#accounts-content-wrapper"
					>
						<input name="id" type="hidden" value={account.id} />

						<FormField label="Username">
							<input
								class="input w-full"
								name="username"
								type="text"
								value={account.username}
								placeholder="Masukkan username..."
								required
							/>
						</FormField>

						<FormField label="Nama Tampilan">
							<input
								class="input w-full"
								name="display_name"
								type="text"
								value={account.displayName}
								placeholder="Masukkan nama..."
								required
							/>
						</FormField>

						<FormField label="Kata Sandi">
							<input
								class="input w-full"
								name="password"
								type="password"
								placeholder="Biarkan kosong untuk tidak mengganti"
							/>
						</FormField>

						<FormField label="Role Akses">
							<select class="select w-full" name="role" required>
								<option value="" disabled>
									Pilih hak akses
								</option>
								<option value="staff" selected={account.role === "staff"}>
									Staff (Operasional & Komplain)
								</option>
								<option value="owner" selected={account.role === "owner"}>
									Owner (Laporan Keuangan)
								</option>
							</select>
						</FormField>
					</ModalForm>
				</>
			)
		) : (
			<NotFound label="Akun" />
		)
	}
</Modal>
